/************Navbar************/
button.btn.btn-outline-success {
  margin-left: 15px;
}

/************searchCard************/
.container {
  margin-top: 50px;
  background-color: blue;
  height: 200px;
}
