/***********root***************/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,600;1,700&display=swap");

* {
  font-family: "Be Vietnam";
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: whitesmoke;
}

h1,
h2 {
  font-family: "Be Vietnam";
  font-weight: 700;
}

h3,
h4 {
  font-family: "Be Vietnam";
  font-weight: 400;
}

h5,
h6 {
  font-family: "Be Vietnam";
  font-weight: 400;
}

p {
  font-family: "Be Vietnam";
  font-weight: 100;
}

span {
  font-family: "Be Vietnam";
  font-weight: 300;
}

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

ul {
  list-style: none;
}

.alertsContainer {
  position: relative;
  margin-top: 80px;
}

/* Utilities */

button:hover {
  cursor: pointer;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
