/********************************** Alert *****************************/

div.alert.alert-primary {
  position: absolute;
  top: 0px;
  opacity: 0.9;
  width: 100%;
  background: var(--primary-color);
  color: #fff;
}

div.alert.alert-light {
  position: absolute;
  top: 0px;
  opacity: 0.9;
  width: 100%;
  background: var(--light-color);
  color: #333;
}

div.alert.alert-dark {
  position: absolute;
  top: 0px;
  opacity: 0.9;
  width: 100%;
  background: var(--dark-color);
  color: #fff;
}

div.alert.alert-danger {
  position: absolute;
  top: 0px;
  opacity: 0.9;
  width: 100%;
  background: var(--danger-color);
  color: #fff;
}

div.alert.alert-success {
  position: absolute;
  top: 0px;
  opacity: 0.9;
  width: 100%;
  background: var(--success-color);
  color: #fff;
}

div.alert.alert-white {
  position: absolute;
  top: 0px;
  opacity: 0.9;
  width: 100%;
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
