/******************** ArtisanCard *********************/

#artisanCard {
  height: 200px;
  background-color: #5da2d5;
  color: white;
}

.row a,
.row span,
.row a:hover,
.row span:hover,
.row a:link,
.row span:link,
.row span:active,
.row a:active {
  text-decoration: none;
  color: whitesmoke;
}

.artisanCard span,
.artisanCard div,
.artisanCard h6,
div.sm-col-6.px-3 div i {
  background-color: transparent;
}

.artisanCard button i,
.artisanCard button {
  background-color: #f78888;
  color: #ececec;
}

.artisanCard button i:hover,
.artisanCard button:hover {
  background-color: #ececec;
  color: #f78888;
}

.artisanCard .first {
  color: white;
}

.card {
  background-color: #b9f6ca;
  width: 700px;
  border-radius: 20px;
}

.heading {
  font-weight: 700;
}

div.ratings.ml-2 i {
  color: #f78888;
}

.btn.btn-sm {
  border-radius: 5px !important;
}
