/***************Categories Carousel**************/

div.container.text-center.my-4 {
  background: transparent;
}

.carousel-inner {
  position: absolute;
}

.carousel-control-prev {
  position: relative;
  left: 0px;
  top: 50%;
}

.carousel-control-next {
  width: 10px;
  position: relative;
  right: 0px;
  top: 50%;
}

.hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
  background-color: transparent;
}

.hover-2:hover .hover-2-description {
  bottom: 0.5rem;
  opacity: 1;
  background-color: transparent;
}

img.img-fluid {
  padding: 5px;
  border-radius: 6%;
  background: transparent;
}

i.fas.fa-chevron-left,
i.fas.fa-chevron-right {
  background-color: transparent;
}
