* {
  background-color: transparent;
}

div.contactUsContainer.d-flex.justify-content-center {
  height: 660px;
}

.demi {
  padding-top: 70px;
  width: 100%;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.contain {
  margin: auto 150px;
}

/****************Talk**************/
.talk {
  font-family: 'Teko', sans-serif;
}

.talk h3,
.talk h1 {
  color: #000;
}

.talk p {
  color: rgb(129, 129, 129);
}

/***************Contact***********/
div.demi.contact.col-md-6.px-0 {
  font-family: 'Teko', sans-serif;
  background: url(../../images/pc.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  height: 100%;
  padding-left: 50px;
}

.contact h2,
.contact h3 {
  color: white;
}

.form-control {
  font-size: 1.3em;
  color: #4d4c4c;
  width: 100px;
}

textarea.form-control {
  height: 100px;
}

.btn.submit,
.btn.submit:hover {
  font-size: 1.1em;
  width: 100%;
  background-color: #f3d250;
  color: #fff;
}

.fa.fa-paper-plane {
  background-color: transparent;
  color: #fff;
}
