/************Login************/
.loginContainer {
  margin-top: 70px;
}

article,
article form,
article p,
article h4 {
  background: #f8f9fa;
}

/************Signin************/
.registerContainer {
  margin-top: 70px;
}

/******************************/
.card-title.mt-3.text-center {
  color: #f78888;
}

.fa.fa-envelope,
.fa.fa-lock,
.fa.fa-user,
.fa.fa-phone,
.fas.fa-user-tag,
.fas.fa-paint-roller {
  color: #5da2d5;
}

.btn.btn-block {
  background-color: #5da2d5;
  color: #fff;
}
