/************Navbar************/

.navbar-brand,
.navbar-brand:hover {
  color: #77a6f7;
  font-weight: bold;
}

.navbar-item,
.navbar-item:hover,
.dropdown-item {
  color: white;
  text-decoration-line: none;
}

.navBarContainer {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  background-color: #ffccbc;
}
.navBarContainer div,
.navBarContainer i,
.navBarContainer form {
  background-color: #ffccbc;
  color: #77a6f7;
}

button.btn.logRegBtn.col-12.px-4.mx-2,
button.btn.logRegBtn.nav-item.col-11.px-4.mx-2 {
  background-color: #00887a;
  color: white;
}
