/************searchCard************/
.searchContainer {
  height: 440px;
}

.top-background {
  position: relative;
  text-align: center;
  height: 400px;
  background: #f3d250 0% 0% no-repeat padding-box;
  opacity: 1;
}

svg {
  position: absolute;
  height: 300px;
  width: 100%;
  left: 0;
  top: 100px;
}

.top-background h3 {
  color: white;
  font-size: 35px;
  font-family: "Be Vietnam";
  font-weight: 600;
}

.myContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 250px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04), 0 0 6px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

div.col-5.col-lg-2.d-flex.justify-content-center.mt-2 i {
  background: transparent;
}

.myContainer div {
  background-color: transparent;
}

select {
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 3px solid black;
}

button.btn.searchBtn.col-md-3 {
  background-color: #5da2d5;
  color: #fff;
}

div.col-5.col-lg-2.d-flex.justify-content-center i {
  background: white;
}

.searchInput .serchItem {
  background-color: #ececec;
  color: #000;
}

.searchInput .serchItem:hover {
  background-color: #f3d250 !important;
  color: #fff !important;
}
