/************searchCard************/
.searchContainer {
  height: 440px;
}

.searchContainer h3 {
  color: #f78888;
  font-size: 35px;
  font-weight: bold;
  font-family: "Teko", sans-serif;
}
div.searchContainer.background {
  background: url(../../images/worker-tools-measures-plans.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.myContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 250px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

div.col-5.col-lg-2.d-flex.justify-content-center.mt-2 i {
  background: transparent;
}

.myContainer div {
  background-color: transparent;
}

select {
  cursor: pointer;
  background: white;
}

button.btn.searchBtn.col-md-3 {
  background-color: #5da2d5;
  color: #fff;
}

div.col-5.col-lg-2.d-flex.justify-content-center i {
  background: white;
}
