/************searchCard************/

.myContainer {
  margin-top: 120px;
  height: 250px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  background-color: white;
  border-radius: 10px;
}

div.col-5.col-lg-2.d-flex.justify-content-center.mt-2 i {
  background: transparent;
}

.myContainer div {
  background-color: white;
}

select {
  cursor: pointer;
  background: white;
}

button.btn.searchBtn.col-md-3 {
  background-color: #ffccbc;
}

.searchInput {
  border-style: hidden;
  border-bottom: 2px solid black;
}

div.col-5.col-lg-2.d-flex.justify-content -center i {
  background: white;
}
