@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: 'Teko', sans-serif;
  color: #8d97ad;
  font-weight: 300;
  margin-top: 70px;
}

h3 {
  font-family: 'Teko', sans-serif;
  color: #5da2d5;
}

.team4 h4 {
  color: #3e4555;
}

.team4 h5 {
  color: #5da2d5;
  line-height: 22px;
  font-size: 18px;
  height: 55px;
}

.team4 h6 {
  color: #f78888;
  height: 30px;
}

.team4 p {
  height: 100px;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 .subtitle {
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}

.fas.fa-at,
.fab.fa-twitter,
.fab.fa-linkedin-in {
  color: #f78888;
}

img.img-fluid.rounded-circle {
  height: 210px;
}
